/* General body settings */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Header styles */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
    text-align: center;
}

/* Name color */
header h1 {
    color: white;
}

/* Navigation link styles */
header nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

/* Centering and adjusting fractal canvas */
#fractalCanvasContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centering the fractal */
    align-items: center;
    overflow: hidden; /* Ensure no overflow */
}

#fractalCanvas {
    max-width: 100%; /* Ensuring the canvas fits within the viewport */
    max-height: 100%; 
    object-fit: contain; /* Keep it contained without stretching */
}

/* General section styles */
section {
    max-width: 900px;  /* Reduced max-width to 900px */
    margin: 80px auto;
    padding: 20px;
    text-align: center;
}

/* List styles for social links */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-right: 20px;
}

/* Links color */
a {
    text-decoration: none;
    color: black;
}

/* Ensuring images don't overflow */
img {
    max-width: 100%;
    height: auto;
}

/* Grid container for research links */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}
